﻿@{
    ViewData["Title"] = "Profil";
}

<div class="row">
    <div class="col-4 offset-4">
        <h1 class="display-8 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>

<div class="row mt-4">
    <div class="col-6 offset-6 my-3">
        <div class="mb-4">
            <div asp-validation-summary="All" class="text-danger small"></div>
        </div>
    </div>

    <div class="col-6">
        <form method="post" asp-action="ProfileChangeImage" enctype="multipart/form-data">
            <div class="text-center mb-1">
                <!-- src özelliği artık tam dosya yolunu alacak -->
                <img src="~/@ViewData["ProfileImage"]" style="width:11rem; height:13rem; border-radius:50%;" class="img-thumbnail" />
            </div>

            <div class="form-group mb-3">
                <label class="form-label small">Profil Resmi<span class="badge bg-danger" style="margin-left: 0.2rem;">Gerekli</span></label>
                <input type="file" name="file" class="form-control" accept=".jpg" />
                <span class="text-secondary small"><i class="fas fa-info-circle me-2"></i>Sadece jpg dosyalar</span>
                <div class="text-center mt-3">
                    <button class="btn btn-secondary" type="submit"><i class="fa-solid fa-floppy-disk me-2"></i>Kaydet</button>
                </div>
            </div>
        </form>
    </div>



    <div class="col-6">

        <div>
            <h3>Ayarlar</h3>
            <hr />
            <p class="small">Ayarlarınızı buradan değişebilirsiniz.</p>
        </div>

        <form method="post" asp-action="ProfileChangeNameSurname">
            <div class="form-group">
                <label class="form-label">Ad Soyad<span class="badge bg-danger" style="margin-left: 0.2rem;">Gerekli</span></label>

                <div class="input-group mb-3">
                    <input name="namesurname" type="text" class="form-control" placeholder="Ad Soyad" value="@ViewData["NameSurname"]">
                    <button class="btn btn-secondary" type="submit"><i class="fa-solid fa-floppy-disk me-2"></i>Kaydet</button>
                </div>
            </div>
        </form>

        <form method="post" asp-action="ProfileChangePassword">
            <div class="form-group">
                <label class="form-label">Yeni Şifre<span class="badge bg-danger" style="margin-left: 0.2rem;">Gerekli</span></label>
                <div class="input-group">
                    <input name="password" type="password" class="form-control" id="password" placeholder="$ifR3!">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa fa-eye" id="togglePassword" style="cursor: pointer;"></i>
                        </span>
                    </div>
                    <button class="btn btn-secondary ms-3" type="submit"><i class="fa-solid fa-floppy-disk me-2"></i>Kaydet</button>
                </div>
                @if (ViewData["result"] != null && ViewData["result"] == "PasswordChanged")
                {
                    <span class="text-success small">Şifre güncellendi.</span>
                }
            </div>
        </form>

    </div>
</div>

<script>
    // Şifre göster/gizle özelliği
    const togglePassword = document.querySelector('#togglePassword');
    const password = document.querySelector('#password');

    togglePassword.addEventListener('click', function () {
        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
        password.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
    });
</script>

 @section Scripts {
    @if (ViewData["result"] != null && ViewData["result"] == "PasswordChanged")
    {
        <script>
            toastr["success"]("Şifreniz Başarıyla Değiştirilmiştir!", "Şifre Değişti!")
        </script>

    }

    @* @if (ViewData["size"] == "Foto upload failed")
    {
        <script>
            toastr["warning"]("Fotoğraf Boyutu Max Sınırların Dışındadır.", "Başarısız.")
        </script>
    } *@

}