<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/toastrjs/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">    
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand ml-3 d-flex align-items-center" asp-controller="Home" asp-action="Index">
            <img src="~/uploads/projelogo.png" alt="Logo" style="height: 35px; width: 35px; margin-right: 10px; filter: drop-shadow(0 0 3px white);">
            ManageMint
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                @if(User.Identity.IsAuthenticated)
                {
                    <li class="nav-item ms-auto">
                        <a class="nav-link" style=" filter: drop-shadow(0 0 5px black);" asp-area="" asp-controller="Account" asp-action="Profile">
                            <i class="fa-solid fa-user me-1"></i> @User.FindFirst("Username").Value
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style=" filter: drop-shadow(0 0 5px black);" asp-area="" asp-controller="Account" asp-action="Logout">
                            <i class="fa-solid fa-arrow-right-from-bracket me-1"></i> Çıkış Yap
                        </a>
                    </li>
                }                       
            </ul>
        </div>
    </nav>

    <!-- Sidebar -->
    <div class="d-flex">
        <nav class="sidebar bg-light">
            <h2 class="sidebar-title">Menü</h2>
            <ul class="nav flex-column">                
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> Ana Sayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Project" asp-action="UserIndex"><i class="fa fa-folder"></i> Projeler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Team" asp-action="Index"><i class="fa fa-users"></i> Takımlar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Task" asp-action="Index"><i class="fa fa-tasks"></i> Görevler</a>
                </li>

                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cogs"></i> Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="adminDropdown">
                                <a class="dropdown-item" asp-area="" asp-controller="User" asp-action="Index"><i class="fa fa-user"></i> Kullanıcılar</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Project" asp-action="AdminIndex"><i class="fa fa-folder"></i> Projeler</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Team" asp-action="Index"><i class="fa fa-users"></i> Takımlar</a>
                                <a class="dropdown-item" asp-area="" asp-controller="Task" asp-action="Index"><i class="fa fa-tasks"></i> Görevler</a>
                            </div>
                        </li>

                    }
                }
                
            </ul>
        </nav>

        <!-- Main Content -->
        <div class="main-content flex-grow-1">
            @RenderBody()
        </div>
    </div>

    <!-- Footer -->
    <footer class="bg-light py-3">
        <div class="container text-center">
            <p class="mb-0">© 2024 ManageMint</p>
        </div>
    </footer>

    <!-- Bootstrap ve gerekli JS kütüphaneleri -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/lib/toastrjs/toastr.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
