@model Tuple<string, List<UserViewModel>>

<div class="container mt-4">
    <h1 class="mb-4">@Model.Item1</h1> <!-- Şeflik adı burada görüntülenecek -->

    <div class="row">
        @foreach (var user in Model.Item2)
        {
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="@Url.Content($"/uploads/{user.ProfileImagePath}")" alt="Profile Image" class="rounded-circle mb-3" style="width: 100px; height: 100px;">
                        <h5 class="card-title">@user.Username</h5> <!-- Kullanıcı adı burada görüntülenecek -->
                    </div>
                </div>
            </div>
        }
    </div>
</div>
