@model CreateUserModel

<div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="card shadow-lg p-4">
            <h2 class="text-center mb-4">Kullanıcı Oluştur</h2>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                <!-- Ad Soyad -->
                <div class="form-group mb-3">
                    <label asp-for="NameSurname" class="form-label">Ad Soyad</label>
                    <input asp-for="NameSurname" class="form-control" placeholder="Ad Soyad" />
                    <span asp-validation-for="NameSurname" class="text-danger small"></span>
                </div>

                <!-- Kullanıcı Adı -->
                <div class="form-group mb-3">
                    <label asp-for="Username" class="form-label">Kullanıcı Adı</label>
                    <input asp-for="Username" class="form-control" placeholder="Kullanıcı Adı" />
                    <span asp-validation-for="Username" class="text-danger small"></span>
                </div>

                <!-- Şifre -->
                <div class="form-group mb-3">
                    <label asp-for="Password" class="form-label">Şifre</label>
                    <div class="input-group">
                        <input asp-for="Password" type="password" class="form-control" placeholder="$ifRé63!" id="password-field" />
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa-solid fa-eye" id="toggle-password"></i>
                            </span>
                        </div>
                    </div>
                    <span asp-validation-for="Password" class="text-danger small"></span>
                </div>

                <!-- Şifre Tekrar -->
                <div class="form-group mb-3">
                    <label asp-for="RePassword" class="form-label">Şifre Tekrar</label>
                    <div class="input-group">
                        <input asp-for="RePassword" type="password" class="form-control" placeholder="$ifRé63!" id="repassword-field" />
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa-solid fa-eye" id="toggle-repassword"></i>
                            </span>
                        </div>
                    </div>
                    <span asp-validation-for="RePassword" class="text-danger small"></span>
                </div>


                <!-- Rol -->
                <div class="form-group mb-3">
                    <label asp-for="RoleId" class="form-label">Rol</label>
                    <div class="input-group">
                        <select asp-for="RoleId" class="form-select" style="width: 91%">
                            <option value="">Lütfen Seçin</option>
                            <option value="1">User</option>
                            <option value="2">Admin</option>
                            <option value="3">IT</option>
                            <option value="4">Technic</option>
                            <option value="10">Tester</option>
                            <option value="11">Manager</option>
                        </select>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa-solid fa-user-tag fa-fw"></i>
                            </span>
                        </div>
                    </div>
                    <span asp-validation-for="RoleId" class="text-danger small"></span>
                </div>

                <!-- Departman -->
                <div class="form-group mb-3">
                    <label asp-for="DepartmentId" class="form-label">Müdürlük</label>
                    <div class="input-group">
                        <select asp-for="DepartmentId" class="form-select" style="width: 91%" asp-items="ViewBag.Departments">
                            <option value="">Lütfen Seçin</option>
                        </select>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa-solid fa-building fa-fw"></i>
                            </span>
                        </div>
                    </div>
                    <span asp-validation-for="DepartmentId" class="text-danger small"></span>
                </div>

                <!-- Alt Departman -->
                <div class="form-group mb-3">
                    <label asp-for="SubDepartmentId" class="form-label">Şeflik</label>
                    <div class="input-group">
                        <select asp-for="SubDepartmentId" class="form-select" style="width: 91%" asp-items="ViewBag.SubDepartments">
                            <option value="">Lütfen Seçin</option>
                        </select>
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa-solid fa-sitemap fa-fw"></i>
                            </span>
                        </div>
                    </div>
                    <span asp-validation-for="SubDepartmentId" class="text-danger small"></span>
                </div>

                <!-- Kaydet Butonu -->
                <div class="form-group mb-3 text-center">
                    <button type="submit" class="btn btn-primary btn-lg w-100">
                        <i class="fa-solid fa-save me-2 mr-1"></i>Kaydet
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById('toggle-password').addEventListener('click', function () {
        const passwordField = document.getElementById('password-field');
        const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordField.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
    });

    document.getElementById('toggle-repassword').addEventListener('click', function () {
        const repasswordField = document.getElementById('repassword-field');
        const type = repasswordField.getAttribute('type') === 'password' ? 'text' : 'password';
        repasswordField.setAttribute('type', type);
        this.classList.toggle('fa-eye-slash');
    });
</script>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Müdürlük seçimi değiştiğinde şeflik dropdown'u güncellensin
            $('#DepartmentId').change(function () {
                var departmentId = $(this).val();
                if (departmentId) {
                    $.ajax({
                        url: '@Url.Action("GetSubDepartments", "Task")',
                        type: "GET",
                        data: { departmentId: departmentId },
                        success: function (data) {
                            var subDepartmentDropdown = $('#SubDepartmentId');
                            subDepartmentDropdown.empty();
                            subDepartmentDropdown.append('<option value="">Lütfen Seçin</option>');
                            $.each(data, function (i, subDepartment) {
                                subDepartmentDropdown.append('<option value="' + subDepartment.subDepartmentId + '">' + subDepartment.subDepartmentName + '</option>');
                            });
                        }
                    });
                } else {
                    $('#SubDepartmentId').empty();
                    $('#SubDepartmentId').append('<option value="">Lütfen Seçin</option>');
                }
            });           
        });
    </script>
}